@model Cofin_Suporte.Models.Backlog

@{
    ViewData["Title"] = "";
}

<div>
    <h4>Backlog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Código:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Descrição BackLog:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoBacklog)
        </dd>
    </dl>
</div>

<div class="float-right">
    <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.IdBacklog">Editar</a>
</div>