@model Cofin_Suporte.Models.Cofin

@{
    ViewData["Title"] = "";
}

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Descrição Bug:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Assunto:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data Bug:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Observação:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("BackLog:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBacklogNavigation.DescricaoBacklog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Categoria Bug:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaNavigation.DescricaoCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Tipo Bug:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.DescricaoTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Solução Bug:")
        </dt>
        <dd class="col-sm-10">
            @foreach (var v in Model.CofinSolucao)
            {
                @*@Html.Label(v.IdSolucaoNavigation.DescricaoSolução)<br />*@

                if (Model.CofinSolucao.Where(x => x.IdSolucao == v.IdSolucao).Select(s => s.Check).FirstOrDefault())
                {
                    <span name="Solution[@v]" id="Solution[@v]" value="@v.Check"> </span>
                    @Html.Label(v.IdSolucaoNavigation.DescricaoSolução)
                }
            }
        </dd>
    </dl>
</div>
<div class="float-right">
    <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.IdCofin">Editar</a>
</div>
