@model IEnumerable<Cofin_Suporte.Models.Tipo>
@{
    ViewBag.Title = "";
}

<h2><i class="fas fa-paste"></i> Tipos</h2>
<div class="row">
    <p>
        <a class="btn btn-outline-dark" asp-action="Create">Novo</a>
    </p>
</div>

<div class="box box-solid row">
    <table class="table table-striped">
        <thead>
            <tr class="table-active">
                <th scope="row">#</th>
                <th>
                    @Html.DisplayName("Descrição")
                </th>
                <th>
                    @Html.DisplayName("Opções")
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                var i = 1;
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoTipo)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.IdTipo }) |
                                @Html.ActionLink("Details", "Details", new { id = item.IdTipo }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.IdTipo })
                            </td>*@
                        <td>
                            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.IdTipo">Editar</a>
                            <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.IdTipo">Exibir</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdTipo">Excluir</a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
